.open-sans-fonts {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1600px;
}


#banner .banner-content {
    text-align: right;
    background-image: url(/images/banner/banner1.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#banner .banner-content h1 {
    font-size: 65px;
    font-weight: bold;
    color: #151414;
    margin: 216px 230px 0 845px;
    width: 525px;
}

#banner .banner-content p {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    width: 494px;
    margin: 24px 230px 0 845px;
    width: 525px;
}

#banner .banner-content .btn {
    margin: 32px 230px 0 1210px;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
}

#bottom-banner {
    margin: 100px 50px;
    position: relative;
    height: 100vh;
}

.bottom-img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.bottom-gradiant{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.bottom-content{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    position: absolute;
    z-index: 3;
    text-align: left;
    padding: 60px 600px 150px 60px;
    color: rgb(255, 255, 255);

}

.bottom-content .btn{
    margin-top: 25px;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    color: #F15B22;
}